.width {
    &--full {
        width: 100%;
    }

    &--mobile-full {
        width: 100%;

        @media all and (min-width: $breakpoint--tablet) {
            width: auto;
        }
    }

    &--tablet-full {
        width: 100%;

        @media all and (min-width: $breakpoint--web) {
            width: auto;
        }
    }
}

.hidden {
    &--mobile {
        display: none;

        @media all and (min-width: $breakpoint--tablet) {
            display: table-cell;
        }
    }

    &--tablet {
        display: none;

        @media all and (min-width: $breakpoint--web) {
            display: table-cell;
        }
    }
}

.visible {
    &--mobile {
        display: block;

        @media all and (min-width: $breakpoint--tablet) {
            display: none;
        };
    }

    &--tablet {
        display: block;

        @media all and (min-width: $breakpoint--web) {
            display: none;
        };
    }
}

.align {
    &--left {
        margin-right: auto !important;
    }
    &--right {
        margin-left: auto !important;
    }
    &--center {
        margin: auto !important;
    }
}
