// Typography
$font-family-sans-serif: 'myriad-pro', sans-serif;
$font-style: normal;
$font-weight: 300;
$font-weight--bold: 700;
$font-size--base: 11pt;
$font-size--small: 9pt;
$font-size--heading: 22pt;
$font-size--subheading: 14pt;
$font-size-focused: 12pt;
$line-height-base: 1.6;

h1 {
    font-size: $font-size--heading;
    margin-bottom: 40px;
}
