// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'myriad-pro', sans-serif;
$font-style: normal;
$font-weight: 300;
$font-size-base: 0.75rem;
$font-size-focused: $font-size-base + .25rem;
$font-size-heading: $font-size-base + .85rem;
$line-height-base: 1.6;

// Color Scheme
$color--black: #363636;
$color--grey: #707070;
$color--light-grey: #ddd;
$color--red: #ed2024;

// Mobile breakpoints
$breakpoint--tablet: 768px;
$breakpoint--web: 1025px;
$breakpoint--web-large: 1920px;

// Shadow
$box-shadow--large: 5px 10px 5px 0px rgba(0, 0, 0, 0.16);
$box-shadow--small: 3px 6px 3px 0px rgba(0, 0, 0, 0.16);

// Border
$border-color--grey: rgba(112, 112, 112, 16%);
$border--grey: solid 1px $border-color--grey;

// Navigation bar
$navigation-bar-height: 60px;

// Footer
$footer-height-mobile: 415px;
$footer-height-tablet: 290px;
