// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'myriad-pro', sans-serif;
$font-style: normal;
$font-weight: 300;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Color Scheme
$color--black: #363636;
$color--grey: #707070;
$color--red: #ed2024;

// Mobile breakpoints
$breakpoint--tablet: 750px;
$breakpoint--web: 1280px;



