input {
    width: 100%;
    padding: 4px 15px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $border-color--grey;
    box-sizing: border-box;
    font-size: $font-size--base;

    &:focus {
        outline: none;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid $color--grey;
    }

    &[type=number] {
        padding: 5px 0 5px 13px;
        margin: 4px 10px;
    }
}

.input-focus {
    &:focus {
        outline: none;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid $color--grey;
        padding: 8px 15px !important;
        font-size: $font-size-focused !important;
    }
}

.button {
    appearance: none;
    box-shadow: $box-shadow--small;
    color: white;
    text-align: center;
    background: $color--grey;
    max-width: 150px;
    height: fit-content;
    padding: 10px;
    margin: 10px;
    cursor: pointer;

    @media all and (min-width: $breakpoint--tablet){
        padding: 10px ;
    }
    @media all and (min-width: $breakpoint--web){
        padding: 10px 20px;
    }



    &:hover, &:active {
        background: darken($color--grey, 10%);
    }

    &--primary {
        background: $color--red;

        &:hover, &:active {
            background: darken($color--red, 10%);
        }
    }

    &--fixed-width {
        width: 150px !important;
    }

    &--disabled {
        background: lighten($color--red, 30%);

        &:hover, &:active {
            background: lighten($color--red, 30%);
        }
    }
}

