html {
  box-sizing: border-box;
  font-family: "myriad-pro", sans-serif;
  font-size: 0.85rem;
  font-weight: 400;
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  position: relative;
  min-height: 100%;
}

.content {
  grid-area: main;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  padding: 20px 10px;
  overflow: auto;
}

@media all and (min-width: 750px) {
  .content {
    padding: 20px 40px;
  }
}

#app {
  display: grid;
  grid-template-areas: "navigation-bar" "main" "footer";
  grid-template-rows: auto auto 1fr;
  min-height: 100vh;
}

